<h2><a href="/admin">LINK: /admin/</a></h2>
<h2><a href="/regions">LINK: /regions/</a></h2>
<h2><a href="/countries/1">LINK: /countries/country_id/</a></h2>
<h2><a href="/admin1s/1">LINK: /admin1s/admin1_id/</a></h2>
<h2><a href="/infos/1">LINK: /infos/info_id/</a></h2>
<h2><a href="/country_feeds">LINK: /country_feeds/</a></h2>
<h2><a href="/country_feeds/1">LINK: /country_alerts/1/</a></h2>
<h2><a href="/alerts">LINK: /alerts/</a></h2>
<h2><a href="/alerts/1">LINK: /alerts/alert_id/</a></h2>
<h2><a href="/alerts/summary">LINK: /alerts/summary/</a></h2>
<h2><a href="/admin1s">LINK: /admin1s/</a></h2>
<hr>